# Gradle
.gradle/
build/
.externalNativeBuild/
.cxx/

# Local configuration (sdk path, etc)
local.properties

# Android Studio
.idea/
*.iml
*.apk
*.aab
captures/
output-metadata.json

# IntelliJ IDEA
deploymentTargetDropDown.xml
render.experimental.xml
misc.xml

# Logs
*.log

# macOS
.DS_Store

# Keystore files
*.jks
*.keystore

# Google Services
google-services.json

# Android Profiling
*.hprof
